@model Crypto.Models.Dtos.Orders.OrderDto

@{
    ViewData["Title"] = "Order Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PairName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PairName)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExchangeName)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
